/**
 * PTF main style file
 *
 */
 
 .widget_ptf_twitter_widget{

 }

 .ptf-footer-icon{

 }

 .ptf-icon{

 }

 .ptf-main-title{
 	margin-bottom: 10px;
 }

 .ptf-main-title .fa{
 	margin-right: 4px;
 	font-size: 20px;
 }